<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="Description" content="DVNtty Entry Point" />
	<meta name="Author" content="Vladimir 'dvn' Dranyonkov" />
	<title>DVNtty{{ page.title }}</title>
	<link rel=stylesheet type=text/css href=css/desktop.css />
</head>

<body>

<div class="container">

<header>
	<div class="logo">
		<a class="logo" href="/">DVNtty</a>{{ page.title }}
	</div>
	<nav>
		<a class="button" href="/self.html">.self</a>
		<a class="button" href="/hand.html">.hand</a>
		<a class="button" href="/word.html">.word</a>
		<a class="button" href="/tech.html">.tech</a>
	</nav>
</header>

<div class="content">
{{ content }}
</div>

<footer>
	<div class="copyright">&copy; 2012, Vladimir 'dvn' Dranyonkov</div>
</footer>
</div> <!-- Container -->

</body>
</html>
