<!doctype html>
<html>

<head>
	{% include meta.html %}
	<title>DVNtty.{{ page.category}} : {{ page.title }}</title>
</head>

<body>

<div class="container">

<header>
	<div class="logo">
		<a class="logo" href="/">DVNtty</a>.{{ page.category }}
	</div>
	{% include nav.html %}
</header>

<div class="content">

	<h1 class="post-title">
		{{ page.title }}
	</h1>

	<div class="publish-date">
		[{{ page.date | date:"%Y-%m-%d" }}]
	</div>

	<div class="post-text">
		{{ content }}
	</div>
</div>

{% include footer.html %}
</div> <!-- Container -->

</body>
</html>
