.landing
{
	background-color:black;
	color:green;
	max-width:1024px;
	min-width:800px;
	margin:1% auto;
}
.content
{
	color:green;
	font-family:"Monospace";
	text-align:justify;
}
.header
{
	float:left;
	background-color:black;
	width:100%;
}
.footer
{
	color:gray;
	font-family:"Sans";
}
.logo
{
	float:left;
	color:gray;
}
.panel
{
	color:green;
	float:right;
	right:0px;
	vertical-align:text-top;
}
.menulist
{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
.menulist-item{display:inline;}
a{font-weight:bold;}
a:link,a:visited 
{
	text-decoration:none;
	background-color:gray;
	color:black;
	padding:6px;
	text-align:center;
}
a:hover, a:active {
	background-color:green;
}
.imhere {
	background-color:green;
}
.gallery {
	text-align:center;
	padding:6px;
}
.entryhead {
	font-family:"Monospace";
	margin-left:15px;
	color:gray;
}
.blogentry {
	padding-bottom:15px;
}
h1
{
	color:gray;
	font-family:"Sans";
}
p
{
	margin-left:10px;
	margin-right:10px;

}
